
/* homepage styles */

#homepage-masthead {
	background: #E0E0E0;
	min-height: 100vh;
}

#homepage-masthead .ui.secondary.menu {
	padding: 1.5rem 0rem;
}

#homepage-masthead #quick-links {
	padding: 10vh 0em 15vh;
}

.homepage-subhead {
	padding: 10vh 0em;
	min-height: 80vh;
}

#homepage-subhead-identify {
	background: #FFFFFF;
}

#homepage-subhead-study {
	background: #E0E0E0;
}

#homepage-subhead-connect {
	background: #FFFFFF;
}

#homepage-footer {
	background: #333333;
	color: #E0E0E0;
	padding: 2em 0em;
}

#homepage-footer .heading {
	font-size: 14pt;
}

#homepage-footer .heading.csi {
	/* color: #28C2D0; */
	color: #6A6A6A;
}

#homepage-footer .heading.ah {
	/* color: #C0102A; */
	color: #C0C0C0;
}

#homepage-footer .content {
	font-size: 10pt;
	color: #989898;
}

#homepage-footer a.footer-link,
#homepage-footer a.footer-link:hover,
#homepage-footer a.footer-link:visited {
	color: inherit;
	text-decoration: none;
}

#homepage-footer a.footer-link:hover {
	text-decoration: underline;
}

/* general content styles */
.ui.secondary.sticky.menu {
	padding: 0.5rem 0rem;
	background: #F8F8F8;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	transition: 0.5s all ease;
}

.ui.secondary.sticky.menu.ontop {
	padding: 1.5rem 0rem;
	background: transparent;
	border-bottom: 1px solid transparent;
}

.content-masthead {
	padding: 10rem 0em 1.6rem;
	background: #E0E0E0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	font-size: 2rem;
	color: #585858;
}

.content-masthead .highlight {
	font-weight: bold;
}


/* Connect content styles */
#content-masthead-connect {
	background: #CCDBF0;
	border-bottom: 1px solid #3672C3;
}

#content-masthead-connect .ui.avatar.image {
	border-radius: 0px;
}

#content-masthead-connect .highlight {
	color: #3672C3;
}

#content-connect .ui.input {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

#content-connect .ui.input input {
	border-color: #2185D0;
}

/* Seek content styles */
#content-masthead-seek {
	background: #CEFBCE;
	border-bottom: 1px solid #219A21;
}

#content-masthead-seek .highlight {
	color: #219A21;
}

#content-seek .ui.input {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

#content-seek .ui.result.segment {
	transition: 0.25s all ease;
}

#content-seek .ui.result.segment:hover {
	box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.08);
	transform: scale(1.05);
}

/* Identify content styles */
#content-masthead-identify {
	background: #F4DFE1;
	border-bottom: 1px solid #FF324A;
}

#content-masthead-identify .highlight {
	color: #FF324A;
}